---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pgadmin4
spec:
  interval: 30m
  chart:
    spec:
      chart: pgadmin4
      version: 1.50.0
      sourceRef:
        kind: HelmRepository
        name: runix
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    nameOverride: pgadmin4
    image:
      registry: docker.io
      repository: dpage/pgadmin4
      tag: 9.10.0
    strategy:
      type: Recreate
    env:
      email: roelof@rena-it.nl
    existingSecret: pgadmin4-secret
    secretKeys:
      pgadminPasswordKey: password
    ingress:
      enabled: true
      ingressClassName: internal
      hosts:
        - host: pgadmin4.renait.nl
          paths:
            - path: /
              pathType: Prefix
    networkPolicy:
      enabled: false
    persistentVolume:
      enabled: true
      existingClaim: ${VOLSYNC_CLAIM}
    resources:
      requests:
        cpu: 15m
        memory: 183M
      limits:
        memory: 283M
