---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: crunchy-postgres
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-home-ops
  target:
    name: crunchy-postgres-secret
    template:
      engineVersion: v2
      data:
        s3.conf: |
          [global]
          repo1-s3-key=crunchy-postgres
          repo1-s3-key-secret={{ .minio_crunchy_postgres_secret_key }}
        encryption.conf: |
          [global]
          repo1-cipher-pass={{ .crunchy_postgres_backup_encryption_cipher }}
  dataFrom:
    - extract:
        key: MINIO
      rewrite:
        - regexp:
            source: "(.*)"
            target: "minio_$1"
    - extract:
        key: CRUNCHY_POSTGRES
      rewrite:
        - regexp:
            source: "(.*)"
            target: "crunchy_postgres_$1"
