---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: headlamp
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: headlamp
  interval: 1h
  path: "./kubernetes/apps/monitoring/headlamp/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  targetNamespace: monitoring
  timeout: 5m
  wait: false
