---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app omada-controller
spec:
  chartRef:
    kind: OCIRepository
    name: omada-controller
  interval: 1h
  values:
#    ingress:
#      enabled: true
#      className: internal
#      annotations:
#        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
#      managementHosts:
#        - host: omada-v6.${SECRET_DOMAIN}"
#          paths:
#            - path: /
#              pathType: Prefix
#      tls:
#        - hosts:
#            - omada-v6.${SECRET_DOMAIN}"

    resources:
      requests:
        cpu: 500m
        memory: 1200Mi
      limits:
        memory: 2400Mi

    service:
      type: LoadBalancer
      annotations:
        lbipam.cilium.io/ips: 192.168.14.209

    persistence:
      data:
        size: 5Gi
        storageClassName: "freenas-iscsi-ssd"
      logs:
        size: 2Gi
        storageClassName: "freenas-iscsi-ssd"
