---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app spottarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  values:
    controllers:
      spottarr:
        annotations:
          reloader.stakater.com/auto: "true"
          secret.reloader.stakater.com/reload: spottarr-secret,${APP}-pguser-${DB_USER}

        pod:
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups: []

        containers:
          app:
            image:
              repository: ghcr.io/spottarr/spottarr
              tag: 1.12.1
            env:
              TZ: "${TIMEZONE}"
              USENET__PORT: 563
              USENET__USETLS: "true"
              USENET__MAXCONNECTIONS: 10 # Adjust based on your usenet provider and other download clients
              SPOTNET__RETRIEVEAFTER: "2015-10-01T00:00:00Z"
              SPOTNET__IMPORTBATCHSIZE: 10000 # Adjust based on available memory
              SPOTNET__RETENTIONDAYS: 6332 # Use 0 for unlimited
              SPOTNET__IMPORTADULTCONTENT: "false"
              DATABASE__PROVIDER: Postgres
            envFrom:
              - secretRef:
                  name: spottarr-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 400Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8383

    ingress:
      app:
        className: internal
        hosts:
          - host: "${HOSTNAME}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "${HOSTNAME}"

    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
